# apps/user-service/.env
DB_HOST=localhost
DB_PORT=5432
DB_USER=ecom_user
DB_PASS=ecom_pass
DB_NAME=ecom_inventory
PORT=3003
KAFKA_BROKER=localhost:29092
KAFKA_CLIENT_ID=ecom-app
KAFKA_GROUP_ID=inventory-group 
NATS_URL=nats://localhost:4222